<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Pet</title>
</head>

<body>

    <h1>Create New Pet Listing</h1>
    <form action="/pets" method="POST">
        <div>
            <label for="">Name</label>
            <input type="text" id="name" name="pet[name]">
        </div>
        <div>
            <label for="">Price</label>
            <input type="text" id="price" name="pet[price]">
        </div>
        <button>Add Pet</button>
        <div>
            <a href="/pets">Back to All Pets</a>
        </div>

    </form>

</body>

</html>