<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here is a Pet</title>
</head>

<body>
    <h1><%= pet.name %> </h1>
    <h2>$<%= pet.price%></h2>

    <div>
        <a href="/pets/<%=pet._id%>/edit">Edit</a>
    </div>
    <div>
        <form action="/pets/<%=pet._id%>?_method=DELETE" method="POST">
            <button>DELETE</button>
        </form>
    </div>
    <footer>
        <a href="/pets">All Pets</a>
    </footer>
</body>

</html>